.buttons{
    background-color: $green-800;
    border-radius: 10px;
    width: 150px;
    color: white;
    @include font-text;
}

// @media (max-width: 375px){
//     .buttons{
        
//     }
// }