.headTitle{
    font-size: 35px;
    color: green;
    text-decoration: underline;
    text-indent: 10px;
    letter-spacing: 2px;
    line-height: 1.6;
}

.table-rewards{
    padding: 15px;
}

.contents-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .size{
        width: 100%;
        margin: 50px;
    }
}

.card-dashboard {
    border-radius: 15px;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #e3e3e3;
}

.card-title {
    color: #76A608;
    text-align: center;
    
    &:after {
        content:"";
        display:block;
        width: 6em;
        max-width:70%;
        border-bottom: 3px solid #76A608;
        margin: 2px auto 0;
    }
}

.table-rewards {
    border-radius: 1em;

    thead {
        color: #ffffff;
        background-color: #003AA6;
    }
}