.lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue-900;
    text-align: center;
    width: 15vw;
    height: 105px;
    border: none;

    a{
        text-decoration: none;
        color: white;
        @include font-title;
    }
}

.lateral:hover{
    background-color: $blue-900-hover;
    border: none;
}

.filled{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $blue-900;
    width: 15vw;
    height: 100vh;
}

.icon{
    width: 28px;
    height: 25px;
}

.custom{
    background-color: #003AA6;
    color: white;
    border: none;
    width: 15vw;
    height: 105px;
}

.custom:hover{
    background-color: $blue-900-hover;
    border: none;
}


.body-workspace{
    background-color: #003AA6;
    color: white;
    border: none;
}

.button-workspace{
    background-color: #003AA6;
    color: white;
    border: none;
    width: 15vw;
    height: 50px;
}

.button-workspace:hover{
    background-color: $blue-900-hover;
    border: none;
}

@media (max-width:720px){

    .filled{
        position: absolute;
        top: 100%;
        flex-direction: row;
        width: 100vw;
        height: 15%;
    }
    .lateral{
        height: 100%;
        a{
            display: none;
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 768px){

    .filled{
        position: absolute;
        top: 100%;
        flex-direction: row;
        width: 100vw;
        height: 15%;
    }
    .lateral{
        height: 100%;
    }

}

