.title{
    @include font-title;
    padding-top: 8px;
}


.box-logo{
    width: 15vw;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon{
    width: 28px;
    height: 25px;
}

.heading{
    background-color: $blue-100;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 85vw;
    height: 85px;
    border-radius: 5px;

    .head{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        .button-box{
            background-color: $blue-100;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .button-box:hover{
            background-color: #aac7fa;
            border-radius: 5px;
        }
        
        }

        .fill{
            background-color: #98BCFF;
            border-radius: 5px;
            margin: 6px;
        }

        .fill:hover{
            background-color: #bad0f9;
            transition-property: opacity, left;
            transition-delay: 2s;
            transition-duration: 1s, 1s;
        }

}



@media (max-width:425px){

    .box-logo{
        display: none;
    }
    .heading{
        width: 100vw;
    }

}

@media screen and (min-width: 426px) and (max-width: 768px){


}

