@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Rubik:wght@300&display=swap');


$font-text: 'Rubik', sans-serif;
$font-title: 'Comfortaa', cursive;
$blue-900: #003AA6;
$blue-900-hover: #1865F2;
$blue-800: #1865F2;
$orange-900: #F24D30;
$green-900: #A9F200;
$green-800: #76A608;
$blue-100: #D4E4FF;